/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
  font-family: 'Cuprum', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.brand-logo {
  font-weight: 700;
}

p {
  line-height: 2rem;
}

.modal {
  max-height: 90%;
  max-width: 50%;
}

.modal-form-row {
  margin-bottom: 0px;
}

#modalbtn {
  padding-top: 150px;
}

#move-button {
  padding-top: 150px;
}

#checkBoxRow {
  padding-left: 75px;
}

#modalText{
  color: black;
  padding-top: 50px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#login-button {
  padding: 50px 0 50px 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}